body{
    text-align: center;
}
h1{
    color: red;
}
h2{
    color: blueviolet;
}
h3{
    color: darkslategray;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    list-style-position: inside;
}